
/* Couleur du fond */


/* Style du formulaire */
.form-container {
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

form label {
  display: block;
  margin: 10px 0 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer; 
  transition: background 0.3s;
}

form button:hover {
  background-color: #0056b3;
}

/* Afffichage des messages d'erreurs */
.message {
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.message.success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.message.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}




/* Formulaire - Mode Écosystèmecosystem-mode  */
.ecosystem-mode {
  background-color: #121212;
  color: #ffffff;
}

.ecosystem-mode .form-container {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #333;
}

.ecosystem-mode input,
.ecosystem-mode textarea {
  background-color: #2a2a2a;
  color: #fff;
  border: 1px solid #555;
}

.ecosystem-mode input::placeholder,
.ecosystem-mode textarea::placeholder {
  color: #ccc;
}

.ecosystem-mode button[type="submit"] {
  background-color: #444;
  color: #fff;
  border: 1px solid #666;
}

.ecosystem-mode button[type="submit"]:hover {
  background-color: #666;
}